<% @page_title = "UserAuth | Signup" %>
<h1>New User</h1>

<%= form_with scope: :create, local:true do |form| %>
	<p>username:  <%=form.text_field :username%></p><br>
	<p>passphrase: <%=form.password_field :password%></p><br>
	<p>conf pass: <%=form.password_field :password_confirmation%></p><br>
	<%=form.submit :Signup %>
<% end %>
<br><br>
<% if @user.errors.any? %>
  <ul>
    <% for message_error in @user.errors.full_messages %>
	    <li>* <%=message_error%></li>
    <% end %>
  </ul>
<% end %>

